<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
    body {
      background-color: skyblue;
    }

    h1 {
      color: white;
      text-align: center;
    }

    p {
      font-family: verdana;
      font-size: 20px;
      text-align: center;
    }
</style>
</head>

<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Login Page</h1>

    <form action="http://localhost:5000/fetch_data" method="post">

        <p title="Enter the 'username'">Username <input type="text" name="nm" /></p>
        <p title="Enter the 'Password'">Password <input type="password" name="pw" /></p>
        <p><input type="submit" value="Login"></p>
    </form>
<p>or <a href="http://localhost:5000/signup_page" style="color:green;font-family:arial;text-align:center;background-color:lightblue"><em>Create a new account</em> </a></p>

</body>
</html>